ACCESS_TOKEN=<affordmed_access_token>
CLIENT_ID=<affordmed_client_id>
CLIENT_SECRET=<affordmed_client_secret>
LOG_API_URL=http://4.224.186.213/evaluation-service/logs
NOTIFICATION_API_URL=http://4.224.186.213/evaluation-service/notifications
TOP_K=10
